/*TINY MCE*/
body#tinymce {padding: 8px; background: #fff; min-height: 100vh;}

/*Base*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
*{margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 62.5%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;}
html[lang="en"]{opacity:0;}
html.wf-active,html.wf-inactive{opacity: 1; transition: opacity .4s ease-out;}
body{color: rgba(0,0,0,.8); background: rgb(248, 248, 248); font-family: 'Unna', serif; font-size: 2.2rem;}
p{font-size: 2.2rem; margin: 0 0 16px 0; font-weight: 400; line-height: 1.6;}
p:last-of-type{margin: 0;}
a{color: #ef4538;}
ul{font-size: 2.2rem; padding: 0 0 22px 30px; font-weight: 400; line-height: 1.6; list-style: outside disc; overflow: hidden;}
ol{font-size: 2.2rem; padding: 0 0 22px 30px; font-weight:  400; line-height: 1.6; overflow: hidden;}
li{position: relative;}
h1{font-size: calc(3.5rem + 1.5vw); margin: 0 0 10px; line-height: 140%; font-weight: 600; display: block; width: 100%;}
h2{font-size: calc(2.0rem + 1vw); margin: 0 0 10px; line-height: 140%; font-weight: 300; display: block;  width: 100%;}
h3{font-size: calc(1.8rem + .8vw); margin: 0 0 10px; font-weight: 300; width: 100%;}
blockquote{width: 80%; max-width:700px; margin: 50px auto; font-style: italic; color: #555; padding: 1.2em 1.2em 1.2em 75px; border-left: 8px solid #ef4538; line-height: 1.6; position: relative; background: #eeeeee;}
blockquote::before{font-family:Arial; content:"\201C"; color:#ef4538; font-size:4em; position: absolute; left: 10px; top:-10px;}
img{max-width: 100%; height: auto; vertical-align: bottom; border: none;}
/*.event_track{border:1px solid red}*/

/* Buttons */
.buttons {display: flex; align-items: center; justify-content: flex-start; flex-flow: row wrap; width: 100%;}
.buttons.center {justify-content: center;}
.buttons.right {justify-content: flex-end;}
.button + .button {margin: 0 0 0 1em;}
.button {display: inline-flex; align-items: center; margin: 0; padding: 0.75em 1em; background: rgba(0,0,0,0.5); border: 1px solid #fff; color: #fff; text-shadow: 1px 1px 1px #333; transition: 150ms ease; text-decoration: none; user-select: none;}
.button:hover, .button:focus { background: rgba(0,0,0,1); box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);}
.button:active { box-shadow: 0 2px 4px 0 rgba(50,50,93,.1); transform: translateY(1px);}
button.button, input[type="submit"].button {cursor: pointer; font-family: inherit; font-size: inherit; line-height: inherit; color: #fff; border: none; outline: none; -webkit-appearance: none; -moz-appearance: none;}

    @media (max-width: 768px) {
    .button,
    .button + .button {margin: 0 1em 1em 0;}
    }

/* Landing Page */
#landing .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#landing .cover img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#landing .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
    overflow: auto;
    padding: 3em;
    color: #fff;
    background: rgba(0,0,0,0.65);
    background: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.0));
    z-index: 2;
}

#landing .details .contents {

}

#landing .details h1 {
    line-height: 1;
    margin: 0 0 0.5em;
}

#landing .details p {
    font-size: 2.4rem;
    line-height: 1.4;
    max-width: 38em;
    text-shadow: 1px 1px 1px #333;
    font-weight: 400;
}

#landing .buttons {
    margin: 2em 0 0;
}

@media (max-width: 768px) {
    #landing .details {
        display: block;
        background: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.25));
    }
}
